.bubbles-container {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Place behind all other content */
}

.bubble {
  position: absolute;
  bottom: -100px; /* Start from below the container */
  border-radius: 50%;
  animation: floatUp linear infinite;
}

@keyframes floatUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(
      -120vh
    ); /* Move bubble upwards past the top of the container */
  }
}
