@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #00000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #00000000;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
