@font-face {
  font-family: "EnkaDotMincho24";
  src: url("/fonts/EnkaDotMincho24.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "EnkaDotMincho24";
  font-size: 1.6em;
  color: white;
  background-color: black;
  background-image: url("/img/Texturelabs_Grunge_319L.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
