@font-face {
  font-family: F25_Bank_Printer;
  src: url("/fonts/EnkaDotGothic24.ttf") format("truetype");
  font-weight: lighter;
  font-display: swap;
}

html {
  font-family: F25_Bank_Printer;
  font-size: 1.4rem;
  color: rgb(225, 225, 225);
  background-color: rgb(11, 11, 11);
  background-blend-mode: lighten;
  background-image: url("/img/Texturelabs_Grunge_319L.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  text-shadow: inherit;
  border: none;
  margin: 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
  background-color: wheat;
  color: black;
}
